name: CI
on: [push, pull_request]
jobs:
  tests:
    strategy:
      matrix:
        ruby-version:
          - "2.7"
          - "3.0"
          - "3.1"
        gemfile:
          - Gemfile
          - gemfiles/rails_7_propshaft.gemfile
          - gemfiles/rails_7_sprockets.gemfile
        continue-on-error: [ false ]

    name: ${{ format('Tests (Ruby {0}, {1})', matrix.ruby-version, matrix.gemfile) }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.continue-on-error }}

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v1

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: |
          bundle exec rake

      - name: Ensure json command prints an importmap
        run: |
          cp lib/install/bin/importmap test/dummy/bin/importmap
          test/dummy/bin/importmap json | jq -e .imports
